@import "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css";
body {
    background-color:#bdbdbd

}
form {
    margin: 0 auto;
    width: 500px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}
  
form div {
    margin-top: 1em;
}
  
label {
    display: inline;
    width: 50px;
    text-align: right;
}
  
input {
    box-sizing: border-box;
    border: 1px solid #999;
}
  
input:focus {
    border-color: #000;
}
  
.button {
    padding-left: 20px;
}
  
#button {
    margin-left: .5em;
}

img {
    width: 245px;
    height: 220px;
    object-fit: fill;
}